@use 'variaveis';


.shows {
    background-color: variaveis.$corDeFundo;
    padding: 2vw 5.6vw;


    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {


        img {
            
        }
    }
}